<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明bean，让spring创建某个类的对象
    id: 对象的自定义名称，唯一。
    class: 全限定类名。注: 不能是接口，因为spring是通过反射机制创建对象，必须使用类。
    spring完成: TestCase testCase = new TestCase(); 把创建好的对象放入map中，spring框架有一个map存放对象。
    如: spring.put("testCase", new TestCase());
    -->
    <bean id="testCase" class="com.imm.framework.web.TestCase"/>
</beans>